.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    text-align: center;

    background-color: rgba(4, 13, 18, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

.user_search {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.user_search input {
    width: 80%;
    border: none;
    border-radius: 5px;
    outline: 0;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    font-size: 1rem;
    background-color: rgba(4, 5, 5, 0.5);
    color: #CCC;
}

.user_search input:focus {
    outline: 2px solid #777;
}

.user_search button {
    display: flex;

    padding: 0.5rem;
    outline: 0;
    border-radius: 5px;
    border: none;
    background-color: #00F;
}