* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
}

html, body, #root {
	min-height: 100vh;
	min-height: 100dvh;
	height: 100%;
}

body {
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
}