.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-prev::after {
    margin-right: 12px;
}

.swiper-button-next::after {
    margin-left: 12px;
}